<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegistroLibros</servlet-name>
        <servlet-class>com.utp.biblioteca.resources.controlador.servlets.RegistroLibrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UltimosLibrosWelcomeServlet</servlet-name>
        <servlet-class>com.utp.biblioteca.resources.controlador.servlets.UltimosLibrosWelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopLibrosServlet</servlet-name>
        <servlet-class>com.utp.biblioteca.resources.controlador.servlets.TopLibrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoLibrosServlet</servlet-name>
        <servlet-class>com.utp.biblioteca.resources.controlador.servlets.ListadoLibrosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroLibros</servlet-name>
        <url-pattern>/RegistroLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UltimosLibrosWelcomeServlet</servlet-name>
        <url-pattern>/UltimosLibrosWelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopLibrosServlet</servlet-name>
        <url-pattern>/TopLibrosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoLibrosServlet</servlet-name>
        <url-pattern>/ListadoLibrosServlet</url-pattern>
    </servlet-mapping>
</web-app>
